<div class="row">
	<div class="col-6 offset-3">
		<div class="reservations-new-nav">
			<h4 class="reservations-new-check-content">予約内容確認</h4>
			<h5 class="price-icon"><%= @room.price %> / 日</h5>
			<div class="reservations-new-date-select">
			  
			  <%= form_with model: @reservation, method: :post do |f| %>
			  
				  <% @reservation.errors.full_messages.each do |message| %>
				  	<p><%= message %></p>
					<% end %>
				
				  <%= f.hidden_field :user_id, value: current_user.id %>
				  <%= f.hidden_field :room_id, value: @room.id %>
					
					<%= f.label :start_date, "開始日" %>
					<%= f.text_field :start_date, value: @start_date, class: "form-control mb-4", :readonly => true %>
					
					<%= f.label :end_date, "終了日" %>
					<%= f.text_field :end_date, value: @end_date, class: "form-control mb-4", :readonly => true %>
					
					<h6 class="reservations-new-check-content">使用日数 : <%= @use_days %>日</h6>
					
					<h6 class="reservations-new-check-content">人数 : <%= f.hidden_field :person_num, value: @person_num %><%= @person_num %>人</h6>
					
					<%= f.label :total_price, "合計金額" %>
					<%= f.text_field :total_price, value: @total_price, class: "form-control mb-4", :readonly => true %>
					
					<p class="reservations-new-check-content">上記内容でよろしければ「予約を確定」を押してください</p>
					
					<%= f.submit "予約を確定", class: "btn btn-primary form-control my-3" %>
					
					<%= link_to "ルーム詳細に戻る", "/rooms/#{@room.id}", class: "btn btn-secondary form-control" %>
					
				<% end %>
				
			</div>
		</div>
	</div>
</div>